.ChatList {
    flex: 1 1;
    border-right: solid rgb(114, 114, 114) 2px;
    padding: 10px;
}

.active {
    background-color: rgb(255, 170, 170) !important;
}
.CircularProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.chatItem {
    display: flex;
    align-items: center;
}

.addChat {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.MuiFormControl-root {
    flex: 1 1;
}

.delete-button {
    opacity: 0;
}

.chatItem:hover .delete-button {
    opacity: 1;
}
