.header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    background-color: gray;
    flex: 0 0 100px;
}

.userArea {
    flex: 1 1;
}

.nameChat {
    flex: 3 3;
}